
.preContainer {
    display: grid;
    justify-content: center;
    .container {
        max-width: 1500px;
        @media screen and (min-width: 1420px) {
            left: calc(0.5*(100% - 1420px));
        }
        .pointsLabTitle {
            position: relative;
            @media screen and (min-width: 1420px) {
                left: calc(0.5*(100% - 1420px));
            }
        }
        @media screen and (max-width: 667) {
            max-width: 0;
        }
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
        min-width: 600px;
        h1 {
            font-size: 2.5rem;
        }
        .tab_box {
                    width: 600px;
                }
        }
    }
    
    .line {
        position: absolute;
        top: 37px;
        left: 2px;
        width: 3px;
        height: 37px;
        border-radius: 5px;
        background-color: $primaryTeal;
        transition: all .15s ease-in-out;
    }
    
    .active {
        color: $primaryTeal;
    }

    .content {
        padding-bottom: 30px;
        line-height: 30px;
        font-size: 1.2rem;
    }
    
    .contentActive{
        display: block;
    }

    .contentInactive {
        display: none; 
    }

    .tutorialScreen {
        background-color: purple;
        height: 700px;
        min-width: 700px;
        border-radius: 40px;
        filter: drop-shadow(10px 10px 50px #151515);
        margin-left: 50px;
        @media screen and (max-width: 1307px){
            display: static;
        }
    }

