* {
  background-color: #EEEEEE;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/staticMontserrat/Montserrat-Medium.ttf") format("ttf");
}
.banner {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  color: #D9D9D9;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00d86c;
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
}

.topnav {
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
}
.topnav a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 100;
  padding-right: 20px;
}
.topnav #logo {
  font-weight: bolder;
  font-size: 1.6rem;
}
.topnav button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #FFE600;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid;
}

.mainLandingContent {
  display: flex;
}
.mainLandingContent .contentContainer {
  overflow-x: hidden;
}
.mainLandingContent .contentContainer .contentLeft {
  padding-top: 150px;
  padding-left: 20px;
  position: absolute;
  left: 0%;
  z-index: 2;
}
@media screen and (min-width: 1420px) {
  .mainLandingContent .contentContainer .contentLeft {
    left: calc(0.5 * (100% - 1420px));
  }
}
.mainLandingContent .contentContainer .contentLeft .landingTitle {
  max-width: 590px;
}
.mainLandingContent .contentContainer .contentLeft .landingTitle h1 {
  text-decoration: none;
  color: black;
  font-size: 5rem;
  font-weight: 100;
}
.mainLandingContent .contentContainer .contentLeft .landingTitle h1 #results {
  -webkit-text-decoration: underline #00d86c 3px;
          text-decoration: underline #00d86c 3px;
}
.mainLandingContent .contentContainer .contentLeft .landingTitle h1 #stress {
  -webkit-text-decoration: line-through #00d86c 3px;
          text-decoration: line-through #00d86c 3px;
}
.mainLandingContent .contentContainer .contentLeft .landingTitle h5 {
  padding-top: 30px;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 100;
  font-family: sans-serif;
  line-height: 30px;
}
.mainLandingContent .contentContainer .contentLeft .tryORlogin button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #FFE600;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .mainLandingContent .contentContainer .contentLeft .tryORlogin {
    min-width: 100%;
    max-width: 100%;
  }
}
.mainLandingContent .contentContainer .contentLeft .tryORlogin a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 100;
}
.mainLandingContent .contentContainer .contentLeft .fourItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(135, 135, 135);
  border-top: 1px solid rgb(135, 135, 135);
}
.mainLandingContent .contentContainer .contentLeft .fourItems h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #00d86c;
}
.mainLandingContent .contentContainer .contentLeft .fourItems h4 {
  font-size: 11px;
  font-family: sans-serif;
}
.mainLandingContent .contentContainer .contentRight {
  position: absolute;
  top: 95px;
  left: 50%;
}
.mainLandingContent .contentContainer .contentRight img {
  min-height: 900px;
}
@media screen and (max-width: 897px) {
  .mainLandingContent .contentContainer .contentRight {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */