$primaryGrey: #D9D9D9;
$secondaryGrey: #EEEEEE;
$primaryTeal: #00FF75;
$secondaryTeal: #00d86c;
$primaryYellow: #FFE600;

* {
    background-color: $secondaryGrey;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/staticMontserrat/Montserrat-Medium.ttf') format('ttf');
}
// Seems to not be workikng but will come back to this at another time


@mixin textToggle($color: #000, $font-size: 1rem, $font-weight: 100) {
    text-decoration: none;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin centering {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.banner {
    @include centering();
    @include textToggle($primaryGrey, 0.8rem, 700);
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #009B6C;
    text-decoration: dashed underline;
}

.topnav {
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
        a{
            @include textToggle(black, 0.8rem);
            padding-right: 20px;
        }
        #logo {
            font-weight: bolder;
            font-size: 1.6rem;
        }
        button {
            max-width: fit-content;
            background-color: $primaryYellow;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid;
        }
}


.mainLandingContent {
    display: flex;
    .contentContainer{
        overflow-x: hidden;
        .contentLeft { // LEFT CONTENT
            padding-top: 150px;
            padding-left: 20px;
            position: absolute;
            left: 0%;
            z-index: 2;
            @media screen and (min-width: 1420px) {
                left: calc(0.5*(100% - 1420px));
            }
            .landingTitle {
                max-width: 590px;
                h1 {
                    @include textToggle(rgb(24, 24, 24), 5rem);
                    #results {
                        text-decoration: underline $secondaryTeal 3px;
                    }
                    #stress{
                        text-decoration: line-through $secondaryTeal 3px;
                    }
                }
                h5 {
                    padding-top: 30px;
                    @include textToggle(black, 1.25rem);
                    font-family: sans-serif;
                    line-height: 30px;
                }
            }
            
            .tryORlogin {
                button {
                    max-width: fit-content;
                    background-color: $primaryYellow;
                    border-radius: 5px;
                    border: 1px solid black;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-right: 20px;
                    margin-top: 50px;
                    margin-bottom: 80px;

                }
                    @media screen and (max-width: 768px) {
                        min-width: 100%;
                        max-width: 100%;
                    }
                a {
                    padding-left: 30px;
                    font-family: sans-serif;
                    @include textToggle(black, );
                }
            }
            .fourItems {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding-top: 50px;
                padding-bottom: 50px;
                border-bottom: 1px solid rgb(135, 135, 135);
                border-top: 1px solid rgb(135, 135, 135);
                    h3 {
                        font-size: 20px;
                        font-family: sans-serif;
                        font-weight: bold;
                        color: $secondaryTeal;
                        padding-bottom: 10px;
                    }
                    h4 {
                        font-size: 11px;
                        font-family: sans-serif;
                    }
                }
            }
            .contentRight {
                position: absolute;
                top: 95px;
                left: 50%;
                img {
                    min-height: 900px;
                }
                @media screen and (max-width: 897px){
                    display: none;
                }

        }
        }
    }

    .heightAdjuster {
        // background-color: red;
        width: 100vw;
        height: 90vh; // this is adjusted in index.js regardless
    }

    .cardsContainer {
        position: absolute;
        top: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @include textToggle(black, 1.25rem);
    }

    .active {
        color: $primaryTeal;
    }
    
    .tab_box {
        flex-direction: column;
        .tab_btn {
            font-size: 2rem;
        }
    }
    
    .container {
        padding-left: 50px;
        padding-top: 30px;
        max-width: 600px;
    }
    
    .line {
        position: absolute;
        top: 0;
        left: 20px;
        width: 3px;
        height: 37px;
        border-radius: 5px;
        background-color: $primaryTeal;
        transition: all .15s ease-in-out;
    }
        
    .content .active{
        display: block;
    }

    .content .inactive {
        display: none;
    }