$primaryGrey: #D9D9D9;
$secondaryGrey: #EEEEEE;
$tertiaryGrey: #eeeeeebe;
$primaryTeal: #00FF75;
$secondaryTeal: #00d86c;
$primaryYellow: #FFE600;


.Layer_1 {
    position: absolute;
    z-index: -2;
    top: 50vh;
    width: 100vw;
}

@media screen and (max-width: 2220px) {
    .Layer_1 {
        top: 30vh;
    }
}
@media screen and (max-width: 1980px) {
    .Layer_1 {
        top: 48vh;
    }
}
@media screen and (max-width: 1780px) {
    .Layer_1 {
        top: 52vh;
    }
}
@media screen and (max-width: 1680px) {
    .Layer_1 {
        top: 55vh;
    }
}
@media screen and (max-width: 1580px) {
    .Layer_1 {
        top: 57vh;
    }
}
@media screen and (max-width: 1380px) {
    .Layer_1 {
        top: 62vh;
    }
}
@media screen and (max-width: 1270px) {
    .Layer_1 {
        top: 67vh;
    }
}
@media screen and (max-width: 897px) {
    .Layer_1 {
        display: none;
    }
}
@media screen and (max-width: 897px) {
    body {
        background-color: #001319;
    }
}

.Layer_2 {
    min-width: 100px;
}
@font-face {
    src: url(Montserrat-VariableFont_wght.ttf);
    font-family: "Montserrat-Variable";
}
@font-face {
    src: url(Montserrat-Italic-VariableFont_wght.ttf);
    font-family: "Montserrat-Italic-Variable";
}
@font-face {
    src: url(Merriweather-Regular.ttf);
    font-family: "Merriweather";
}
@font-face {
    src: url(Merriweather-Italic.ttf);
    font-family: "Merriweather-Italic";
}
@font-face {
    src: url(Merriweather-Light.ttf);
    font-family: "Merriweather-Light";
}
@font-face {
    src: url(Merriweather-Bold.ttf);
    font-family: "Merriweather-Bold";
}
@font-face {
    src: url(SourceCodePro-VariableFont_wght.ttf);
    font-family: "Source-Code-Pro-Variable";
}

* {
    background-color: transparent;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat-Variable';
    font-weight: 500;
    color: white;
}
body {
    @media screen and (max-width: 700px) {
        background-color: #001319;
    }
}

@mixin textToggle($color: #000, $font-size: 1rem, $font-weight: 100) {
    text-decoration: none;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin centering {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.banner {
    @include centering();
    @include textToggle($primaryGrey, 0.8rem, 400);
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #009B6C;
    text-decoration: dashed underline;
    p {
        font-family: 'Source-Code-Pro-Variable', sans-serif;
        cursor: pointer;
    }

}

.topnavContainer {
    display: flex;
    justify-content: center;
}

.topnav {
    background-color: #fffdea;
    position: fixed;
    margin: 30px;
    z-index: 5;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    width: calc(100vw - 131.33px);
    max-width: 1500px;
    filter: drop-shadow(5px 5px #000000);
    a{
        @include textToggle(black, 0.8rem, 500);
        padding-right: 20px;
        margin-bottom: 5px;
    }
    #logo {
        font-weight: bolder;
        font-size: 1.6rem;
        font-family: 'Merriweather-Light';
    }
    .conicalFlask {
        max-height: 20px;
        cursor: pointer;
    }
    button {
        max-width: fit-content;
        background-color: $primaryYellow;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid black;
        color: black;
    }
    .second2items {
        a {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
        .button {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    }
    .linksLeft {
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    .burgerMenu {
        display: block;
        max-height: 30px;
        cursor: pointer;
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
}

.heightAdjuster1 {
    height: 69px;
    width: 100vw;
    @media screen and (max-width: 897px) {
        background-color: #fffdea;
    }
}

button:hover {
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: rgb(12, 12, 12);
    color: $primaryGrey;
}

.mainLandingContent {
    .contentContainer{
        overflow-x: hidden;
        .contentLeft { // LEFT CONTENT
            background-color: transparent;
            padding-top: 150px;
            position: absolute;
            left: 0%;
            z-index: 2;
            @media screen and (min-width: 1420px) {
                left: calc(0.5*(100% - 1420px));
            }
            @media screen and (max-width: 897px) {
                width: 100vw;
            }
            .landingTitle {
                padding-left: 20px;
                background-color: transparent;
                max-width: 590px;
                h1 {
                    background-color: transparent;
                    font-family: 'Merriweather-Light';
                    @include textToggle(rgb(24, 24, 24), 5rem);
                    @media screen and (max-width: 700px) {
                        font-size: 4rem;
                    }
                }
                #results {
                    color: rgb(24, 24, 24);
                    background-color: transparent;
                    font-family: 'Merriweather';
                    text-decoration: underline $secondaryTeal 3px;
                }
                #stress{
                    color: rgb(24, 24, 24);
                    background-color: transparent;
                    font-family: 'Merriweather';
                    text-decoration: line-through $secondaryTeal 3px;
                }
                h5 {
                    background-color: transparent;
                    padding-top: 30px;
                    @include textToggle(rgb(24, 24, 24), 1.25rem);
                    mix-blend-mode: multiply;
                    font-family: 'Montserrat-Variable';
                    font-weight: 450;
                    line-height: 40px;
                    @media screen and (max-width: 700px) {
                        font-size: 1.2rem;
                        padding-right: 20px;
                    }
                }
            }
                
                .tryORlogin {
                    padding-left: 20px;
                    .button {
                        max-width: fit-content;
                        background-color: $primaryYellow;
                        border-radius: 5px;
                        border: 2px solid rgb(12, 12, 12);
                        padding: 15px;
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-right: 20px;
                        margin-top: 50px;
                        margin-bottom: 80px;
                    color: black;
                    filter: drop-shadow(3px 3px #000000);
                }
                @media screen and (max-width: 768px) {
                    min-width: 100%;
                    max-width: 100%;
                }
                a {
                    padding-left: 30px;
                    font-family: 'Montserrat-Variable';
                    font-weight: 800;
                    color: #000;
                    text-decoration: none;
                }
                a:hover {
                    color: #009B6C;
                }
            }
            .button:hover {
                transition: 0.1s ease-in-out;
                cursor: pointer;
                background-color: rgb(12, 12, 12);
                color: $primaryGrey;
                filter: drop-shadow(0px 0px #000000);
            }
            .fourItems {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding-top: 50px;
                padding-bottom: 50px;
                border-bottom: 1px solid rgb(135, 135, 135);
                border-top: 1px solid rgb(135, 135, 135);
                @media screen and (max-width: 897px) {
                        background-color: #001319;
                }
                @media screen and (min-width: 897px) {
                    background-color: transparent;
                    padding-left: 20px;
                }
                h3 {
                    background-color: transparent;
                    font-size: 20px;
                    font-family: 'Source-Code-Pro-Variable';
                    font-weight: 625;
                    color: $secondaryTeal;
                    padding-bottom: 10px;
                    @media screen and (max-width: 897px) {
                            padding-left: 20px;
                    }
                }
                h4 {
                    background-color: transparent;
                    font-size: 11px;
                    font-family: 'Montserrat-Variable';
                    color: $secondaryGrey;
                    @media screen and (max-width: 897px) {
                            padding-left: 20px;
                    }
                }
            }
        }
        .contentRight {
            position: absolute;
            top: 230px;
            left: 53%;
            #Layer_2 {
                max-width: 700px;
                max-height: 700px;
                z-index: 3;
            }
            @media screen and (max-width: 897px){
                display: none;
            }
            
        }
    }
    }

// HEIGHT ADJUSTER 

    .heightAdjuster2 {
        // background-color: red;
        display: flex;
        align-items: end;
        width: 100vw;
        height: 80vh; // this is adjusted in index.js regardless
        // border: 3px solid red;
        @media screen and (max-width: 897px) {
            background-color: #fffdea;
            height: 69vh;
        }
        @media screen and (max-width: 700px) {
            height: 66vh;
        }
    }

// CARDS DESIGN



.cardsContainer {
    position: absolute;
    top: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    @include textToggle(black, 1.25rem);
}

.bbsfs {
    background-color: #001319;
    position: relative;
    left: calc(0.5*(100% - 1500px));
    padding-bottom: 75px;
    padding-left: 30px;
    padding-top: 50px;
    h1 {
        position: relative;
        z-index: 2;
        font-family: 'Merriweather';
        font-size: 3rem;
    }
    h2 {
        position: relative;
        z-index: 2;
        font-family: 'Merriweather-Light';
    }
    #by {
        font-family: 'Merriweather-Italic';
        color: $secondaryTeal;
    }
    #for {
        font-family: 'Merriweather-Italic';
        color: $secondaryTeal;
    }
    @media screen and (max-width: 600px) {
        padding-top: 80px;
    }
    @media screen and (max-width: 555px) {
        padding-top: 100px;
    }
    @media screen and (max-width: 500px) {
        padding-top: 140px;
    }
}


.pointsLabTitle {
    display: inline-block;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 20px;
}


.preContainer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    .container {
        max-width: 1500px;
        justify-content: center;
        display: flex;
        display: relative;
        z-index: 2;
        flex-wrap: wrap;
    }
    .tab_box {
        padding-right: 50px;
        flex-direction: column;
        .tab_btn {
            padding-bottom: 15px;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Source-Code-Pro-Variable';
            cursor: pointer;
        }
    }
    h1 {
        font-size: 2.5rem;
    }
    .tab_box {
        flex: 40%;
        padding-left: 30px;
    }
    .tutorialScreen {
        background-color: transparent;
        margin: 20px;
        max-height: 700px;
    }
    .active {
        color: $primaryTeal;
    }    
    .inactive {
        color: $tertiaryGrey;
    }
    .content {
        font-weight: 100;
        color: $secondaryTeal;
        padding-bottom: 30px;
        line-height: 30px;
        font-size: 1.2rem;
    }    
    .contentActive{
         display: block;
    }    
    .contentInactive {
        display: none; 
    }
}

.traceLine {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    width: 100vw;
    top: 100vh;
}

@media (max-width: 1520px) {
    .bbsfs {
        left: 0;
    }
}
@media (min-width: 1000px) {
    .tab_box {
        max-width: none;
    }
}
@media (max-width: 1307px) {
    .tab_box {
        padding-right: calc(100% - 600px);
        order: 2;
        max-width: none;
    }
    .tutorialScreen {
        padding-bottom: 70px;
        flex: 80%;
        order: 1;
        width: 80vw;
        height: 50vw;
    }
}

@media (min-width: 1307px) {
    .tutorialScreen{
        flex: 50%;
    }
}


.line {
    position: absolute;
    top: 37px;
    left: 2px;
    width: 3px;
    height: 37px;
    border-radius: 5px;
    background-color: $primaryTeal;
    transition: all .15s ease-in-out;
}    




.cardsDesign{
    padding-top: 100px;
    background-color: #001319;
    .titlesDiv {
        position: relative;
        padding-top: 200px;
        // border: 3px solid red;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        @media screen and (min-width: 1420px) {
            left: calc(0.5*(100% - 1420px));
        }
        @media screen and (max-width: 2488px) {
            padding-left: 90px;
        }
        .cardTitle1 {
            padding-right: 50px;
        }
        .cardTitle2 {
            padding-right: 50px;
        }
    }
    .cardCollection {
        cursor: pointer;
        display: flex;
        padding: 40px;
        padding-bottom: 100px;
        justify-content: center;
        .cardContent {
            z-index: 2;
            background-color: #001319;
            align-self: start;
            min-height: 150px;
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
            overflow: hidden;
            margin-left: 30px;
            margin-right: 30px;
            padding: 20px;
            border: 2px solid #D9D9D9;
            border-radius: 30px;
            h3 {
                font-family: "Source-Code-Pro-Variable";
                color: #00d86c;
                line-height: 40px;
            }
        }
        }
}
traceLine
.thirdPageContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #001319;
    .thirdPage {
        display: grid;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left {
            padding-top: 50px;
            width: 40%;
            max-height: 600px;
            padding-left: 50px;
            .acquire {
                color: beige;
                font-size: 2rem;
                max-width: 750px;
                font-family: 'Merriweather';
                span {
                    font-family: 'Merriweather';
                    color: #00ff6e;
                }
            }
            p {
                max-width: 600px;
                font-size: 1rem;
                color: beige;
                font-family: 'Montserrat-Variable';
                font-weight: 300;
                padding-top: 20px;
            }
            .viewPlans {
                max-width: fit-content;
                background-color: $primaryYellow;
                border-radius: 5px;
                border: 2px solid rgb(12, 12, 12);
                padding: 15px;
                padding-left: 30px;
                padding-right: 30px;
                margin-right: 20px;
                margin-top: 50px;
                margin-bottom: 80px;
                color: black;
                filter: drop-shadow(3px 3px #000000);
                cursor: pointer;
            }
            .viewPlans:hover {
                    transition: 0.1s ease-in-out;
                    cursor: pointer;
                    background-color: rgb(12, 12, 12);
                    color: $primaryGrey;
                    filter: none;
            }
            a:hover {
                color: #00ff6e;
            }
            .link {
                color: beige;
                text-decoration: none;
            }
        }
        .right {
            background-color: #fffdea;
            height: 600px;
            width: 750px;
        }
    }
}

.fourthPageContainer {
    width: 100vw;
    height: 300px;
    background-color: #272f34;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    .fourthPage {
        display: flex;
        max-height: 600px;
        width: 1500px;
        .lhs {
            max-height: 300px;
            width: 35%;
            padding-left: 30px;
            h1 {
                font-family: 'Merriweather';
                font-size: 2rem;
                max-width: 400px;
            }
            p {
                font-family: "Montserrat-Variable";
                font-weight: 500;
                span {
                    color: #00FF75;
                }
            }
            .glidersDiv {
                position: absolute;
                background-color: #272f34;
                border-radius: 10px;
                border: 1px solid #e3e3e3;
                max-width: fit-content;
                padding-left: 5px;
                padding-right: 5px;
                .glider {
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .gliderActive {
                    transition: 0.4s ease-in-out;
                    width: 30px;
                    background-color: #00FF75;
                }
                .gliderInactive {
                    transition: 0.4s ease-in-out;
                    width: 11px;
                    background-color: #b0b0b0;
                }
                #glider1 {
                    top: 4px;
                    left: 6px;
                }
                #glider2 {
                    top: 4px;
                    left: 41px;
                    
                }
                #glider3 {
                    top: 4px;
                    left: 56px;
                
                }
                .carouselPosition1 {
                    z-index: 3;
                    opacity: 100%;
                }
                .carouselPosition2 {
                    z-index: 2;
                    background-color: #c5a700;
                    left: 725px;
                }
                .carouselInactive {
                    display: none;
                }
            }
        }
        .rhs {
            display: block;
            padding-left: 50px;
            max-height: 300px;
            filter: drop-shadow(10px 10px black);
            .carousel {
                position: absolute;
                background-color: #ffd900;
                width: 550px;
                padding: 50px;
                display: inline-block;
                overflow-x: visible;
                h1 {
                    font-family: 'Montserrat-Italic-Variable';
                    font-weight: 400;
                    font-size: 1.5rem;
                }
                p {
                    font-family: 'Montserrat-Variable';
                    font-weight: 400;
                    font-size: 0.7rem;
                    span {
                        font-family: 'Montserrat-Italic-Variable';
                        font-weight: 700;
                    }
            }
            }
        }
    }
}

.bottomNavigation {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    .bottomNavContainer {
        height: 113px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: start;
        width: 1000px;
        position: relative;
        z-index: 2;
        .logoContainer {
            .logo {
                padding-bottom: 57px;
                .conicalFlask {
                    max-height: 21px;
                }
                h2 {
                    display: inline;
                    font-weight: bolder;
                    font-size: 1.6rem;
                    font-family: 'Merriweather-Light';
                    color: #000;
                }
            }
            h6 {
                color: #000;
                display: flex;
            }
        }
        h3 {
            color: #00d86c;
        }
        a {
            align-self: start;
            display: flex;
            left: 0px;
            line-height: 30px;
            text-decoration: none;
            font-family: 'Montserrat-Variable';
            font-weight: 400;
            color: #000;
        }
    }
    .navBottomLine {
        position: absolute;
        z-index: 1;
        max-width: 100vw;
        left: 0;
        opacity: 50%;
    }
}